* {
    font-family: 'Roboto', sans-serif;
    /* color: gray; */
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}
.banner-container{
    display: flex;
    background-color:lightgrey;
    /* flex-wrap: wrap; */
}

.banner-text-container {
    margin-top: 80px;
}


#banner-image {
    margin-left: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 24px;
    width: 60%;
}

#banner-text {
    color: rgb(67, 66, 66); 
 }

#start-button {
    background-color: rgb(99, 99, 99);
    text-align: center;
}

#start-button-text {
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 180px;
}