* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    position: relative;
}

/* Section 1 Banner  */
.banner-container{
    background-color: lightgrey;
    display: inline-flex;
    width: 100%;
    height: auto;
    /* flex-wrap: wrap; */
}

.banner-text-container {
    width: 40%;
    height: auto;
    margin: auto;
}

#imageContainer{
    width: 60%;
    height: auto;
    margin: 32px 24px;
}
#banner-image {
    width: 100%;
    height: auto;
}

#banner-text {
    color: rgb(67, 66, 66); 
    align-content: center;
    margin: 32px 24px;
 }

 #banner-title-p {
     padding: 24px 0;
 }

#start-button {
    width: 60%;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
    margin: 12px auto;
    padding: 0;
    overflow: hidden;
    border-width: 0;
    outline: none; 
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: rgb(99, 99, 99);
    color: white;
}

/* #startText {
    margin-top: 8px;
    margin-bottom: 8px;
} */